body{
    background-color: rgb(0, 26, 63);
}
#encabezado{
    background-color: rgb(64, 0, 117);
    color: aliceblue;
    width: 600px;
    border-radius: 50px;
    border-color: aqua;
    margin: auto;
}
#Card{
    background-color: rgb(22, 2, 137);
    width: 600px;
    margin: auto;
    color: aliceblue;
    border-radius: 20px;
    border-color: cornsilk;
    border-style: double;
    text-shadow: 
    0 0 2px #fdb6c0,
    0 0 3px #3c335f,
    0 0 5px #e84a5f;

}
.cuerpoForma{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

#botones{
    text-align: center;
    width: 500px;
}

.inputsresultados{
        padding-left: 50px;
}

button{
    background-color: #4ae8d877;
    width: 80px;
    height:30px;
    border-radius: 0px;
    transition: 0.2s;
    border: 1px solid rgb(255, 0, 230);
    color: aliceblue;
    box-shadow: 0 0 .2rem #fff,
    0 0 0.3rem #ab4ae8,
    0 0 0.4rem #ab4ae8,
    0 0 0.5rem #ab4ae8,
    inset 0 0 0.6rem #ab4ae8; 
   

    

}

button:hover{
    color: white;
    transition: 0.2s;
    transition: 0.2s;
    border: 1px solid #fff;
    box-shadow: 0 0 .2rem #fff,
              0 0 0.3rem #ab4ae8,
              0 0 0.4rem #ab4ae8,
              0 0 0.5rem #ab4ae8,
              inset 0 0 0.6rem #ab4ae8; 
    border-radius: 20px;

    color: #fff;
    text-shadow:

}
